<div class="container-fluid bg-primary rounded-top">
  <h4>
    <div class="pull-right">
      <i class="glyphicon glyphicon-question-sign glyph-hover btn-primary btn-header"
         ng-class="{'glyph-disabled':!model.parentModel.module.hasNotation()}"
         ng-if="model.parentModel.isRole('administrator') || model.parentModel.module.hasNotation()"
         uib-tooltip="Click to view documentation"
         tooltip-placement="left"
         ng-click="model.parentModel.showNotation(); $event.stopPropagation()"></i>
    </div>
    Move/Copy {{ model.typeName }} "{{ model.sourceName }}"
  </h4>
</div>
<form name="form" class="form-horizontal" novalidate>
  <div class="form-body">
    <div class="spacer text-info">
      Provide the target destination for the {{ model.typeName | lowercase }}:
    </div>
    <div class="form-group first-form-group">
      <label for="operation" class="control-label col-sm-2">Operation</label>
      <div class="col-sm-10">
        <select
          id="operation"
          class="form-control"
          ng-model="model.operation"
          ng-change="model.setOperation()"
          ng-required="true">
          <option value="move">Move {{ model.typeName }} (the parent {{ model.parentTypeName | lowercase }} will be deleted if it has no remaining {{ model.typeName | lowercase }}s)</option>
          <option value="clone">Copy {{ model.typeName }}</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-if="0 < model.qnaireList.length">
      <label for="qnaireId" class="control-label col-sm-2">Questionnaire</label>
      <div class="col-sm-10">
        <select
          id="qnaireId"
          class="form-control"
          ng-options="item.value as item.name for item in model.qnaireList"
          ng-model="model.data.qnaireId"
          ng-change="model.setQnaire()"
          ng-required="true"></select>
      </div>
    </div>
    <div class="form-group" ng-if="0 < model.moduleList.length">
      <label for="moduleId" class="control-label col-sm-2">Module</label>
      <div class="col-sm-10">
        <select
          id="moduleId"
          class="form-control"
          ng-options="item.value as item.name for item in model.moduleList"
          ng-model="model.data.moduleId"
          ng-change="model.setModule()"
          ng-required="true"></select>
      </div>
    </div>
    <div class="form-group" ng-if="0 < model.pageList.length">
      <label for="pageId" class="control-label col-sm-2">Page</label>
      <div class="col-sm-10">
        <select
          id="pageId"
          class="form-control"
          ng-options="item.value as item.name for item in model.pageList"
          ng-model="model.data.pageId"
          ng-change="model.setPage()"
          ng-required="true"></select>
      </div>
    </div>
    <div class="form-group" ng-if="0 < model.questionList.length">
      <label for="questionId" class="control-label col-sm-2">Question</label>
      <div class="col-sm-10">
        <select
          id="questionId"
          class="form-control"
          ng-options="item.value as item.name for item in model.questionList"
          ng-model="model.data.questionId"
          ng-change="model.setQuestion()"
          ng-disabled="1 == model.questionList.length"
          ng-required="true"></select>
      </div>
    </div>
    <div class="form-group" ng-if="0 < model.rankList.length">
      <label for="rank" class="control-label col-sm-2">Rank</label>
      <div class="col-sm-10">
        <select
          id="rank"
          class="form-control"
          ng-options="item.value as item.name for item in model.rankList"
          ng-model="model.data.rank"
          ng-required="true"></select>
        </div>
    </div>
    <div class="form-group"
         ng-class="{'has-feedback has-error': model.formatError || model.nameConflict}"
         ng-if="'clone' == model.operation">
      <label for="name" class="control-label col-sm-2">New Name</label>
      <div class="col-sm-10">
        <input
          id="name"
          class="col-sm-10 form-control"
          type="text"
          maxLength="255"
          ng-model="model.data.name"
          ng-change="model.nameConflict = false"
          ng-required="true"></select>
      <div class="help-block" ng-if="model.formatError">Invalid format: name must start with a letter and be followed by alphanumeric characters and underscores only.</div>
      <div class="help-block" ng-if="model.nameConflict">Conflicts with existing record.</div>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button" class="btn btn-default" ng-click="model.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="model.save()" ng-disabled="!model.isComplete()">
      <i class="glyphicon glyphicon-cloud-upload"></i> Save
    </button>
  </div>
</form>
