  <div class="container-fluid vertical-spacer">
    <div class="col-sm-4">
      <div class="full-width text-center">Module</div>
      <button class="btn full-width"
              ng-class="'module' == subject ? 'btn-primary' : 'btn-info'"
              ng-disabled="0 == moduleList.length"
              type="button"
              id="module"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <span ng-if="currentModule">{{ currentModule.rank }}. {{ currentModule.name }}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="module">
        <li ng-repeat="module in moduleList" style="width: 50%" class="full-width">
          <a ng-attr-id="Module{{ module.id }}" ng-click="viewModule( module.id )">{{ module.rank }}. {{ module.name }}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <div class="full-width text-center">Page</div>
      <button class="btn full-width"
              ng-class="'page' == subject ? 'btn-primary' : 'btn-info'"
              ng-disabled="0 == pageList.length"
              type="button"
              id="page"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <span ng-if="currentPage">{{ currentPage.rank }}. {{ currentPage.name }}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="page">
        <li ng-repeat="page in pageList" style="width: 50%" class="full-width">
          <a ng-attr-id="Page{{ page.id }}" ng-click="viewPage( page.id )">{{ page.rank }}. {{ page.name }}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4">
      <div class="full-width text-center">Question</div>
      <button class="btn full-width"
              ng-class="'question' == subject ? 'btn-primary' : 'btn-info'"
              ng-disabled="0 == questionList.length"
              type="button"
              id="question"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        <span ng-if="currentQuestion">{{ currentQuestion.rank }}. {{ currentQuestion.name }}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="question">
        <li ng-repeat="question in questionList" style="width: 50%" class="full-width">
          <a ng-attr-id="Question{{ question.id }}" ng-click="viewQuestion( question.id )">{{ question.rank }}. {{ question.name }}</a>
        </li>
      </ul>
    </div>
  </div>
