<?php
/**
 * settings.local.ini.php
 *
 * Defines local initialization settings for the application, overriding default settings found in
 * settings.ini.php
 */

global $SETTINGS;

// the name of this instance, if it isn't simply "pine"
$SETTINGS['general']['instance_name'] = 'pine';

// the file path to the framework and application
$SETTINGS['path']['CENOZO'] = '/path/to/cenozo';

// the location of the application's internal path
$SETTINGS['path']['APPLICATION'] = __DIR__;

// the path to the log file
$SETTINGS['path']['LOG_FILE'] = sprintf( '%s/log', $SETTINGS['path']['APPLICATION'] );

// the location to store response data (uncomment after updating software)
$SETTINGS['path']['RESPONSE_DATA'] = sprintf( '%s/doc/response_data', $SETTINGS['path']['APPLICATION'] );

// database settings (the driver, server and prefixes are set in the framework's settings)
$SETTINGS['db']['username'] = 'put your database username here';
$SETTINGS['db']['password'] = 'put your database password here';
