<div class="container-fluid bg-primary rounded-top">
  <h4>
    <div class="pull-right">
      <i class="glyphicon glyphicon-question-sign glyph-hover btn-primary btn-header"
         ng-class="{'glyph-disabled':!model.parentModel.module.hasNotation()}"
         ng-if="model.parentModel.isRole('administrator') || model.parentModel.module.hasNotation()"
         uib-tooltip="Click to view documentation"
         tooltip-placement="left"
         ng-click="model.parentModel.showNotation(); $event.stopPropagation()"></i>
    </div>
    Copy/Export Questionnaire "{{ model.sourceName }}"
  </h4>
</div>
<form name="form" class="form-horizontal" novalidate>
  <div class="form-body">
    <div class="spacer text-info">
      Provide whether to copy or export questionnaire:
    </div>
    <div class="form-group first-form-group">
      <label for="operation" class="control-label col-sm-2">Operation</label>
      <div class="col-sm-10">
        <select
          id="operation"
          class="form-control"
          ng-model="model.operation"
          ng-required="true">
          <option value="clone">Copy Questionnaire</option>
          <option value="export">Export Questionnaire</option>
          <option value="print">Print Questionnaire</option>
        </select>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-feedback has-error': model.nameConflict}" ng-if="'clone' == model.operation">
      <label for="name" class="control-label col-sm-2">Name</label>
      <div class="col-sm-10">
        <input
          id="name"
          class="col-sm-10 form-control"
          type="text"
          ng-model="model.name"
          ng-change="model.nameConflict = false"
          ng-required="true"></select>
      <div class="help-block" ng-if="model.nameConflict">Conflicts with existing record</div>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button" class="btn btn-default" ng-click="model.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="model.save()" ng-disabled="!model.isComplete()">
      <i class="glyphicon glyphicon-cloud-upload"></i> Save
    </button>
  </div>
</form>
