<div class="container-fluid bg-primary rounded-top">
  <h4>
    <div class="pull-right">
      <i class="glyphicon glyphicon-question-sign glyph-hover btn-primary btn-header"
         ng-class="{'glyph-disabled':!model.parentModel.module.hasNotation()}"
         ng-if="model.parentModel.isRole('administrator') || model.parentModel.module.hasNotation()"
         uib-tooltip="Click to view documentation"
         tooltip-placement="left"
         ng-click="model.parentModel.showNotation(); $event.stopPropagation()"></i>
    </div>
    Import Questionnaire
  </h4>
</div>
<form name="form" class="form-horizontal" novalidate>
  <div class="form-body">
    <div class="form-group">
      <label for="name" class="control-label col-sm-2">Import File</label>
      <div class="col-sm-10">
        <input
          id="name"
          class="col-sm-10 form-control"
          type="file"
          ng-model="model.file"
          cn-upload="model.file"
          ng-required="true"></select>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button" class="btn btn-default" ng-click="model.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="null == model.file || model.working" ng-click="model.import()">
      <i class="glyphicon glyphicon-cloud-upload"></i> Import
    </button>
  </div>
</form>
