<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <div class="pull-right">
        <i class="glyphicon glyphicon-question-sign glyph-hover btn-primary btn-header"
           ng-class="{'glyph-disabled':!model.parentModel.module.hasNotation()}"
           ng-if="model.parentModel.isRole('administrator') || model.parentModel.module.hasNotation()"
           uib-tooltip="Click to view documentation"
           tooltip-placement="left"
           ng-click="model.parentModel.showNotation(); $event.stopPropagation()"></i>
      </div>
      Mass Respondent for "{{ model.qnaireName }}"
    </h4>
  </div>
  <form name="form" class="form-horizontal" novalidate>
    <div class="form-body container-fluid">
      <div class="container-fluid text-info">
        This utility allows you to create a batch of respondent records for the <strong>{{ model.qnaireName }}</strong>
        questionnaire.  In order to proceed you must first select which participants to affect.  This can be done by
        typing the unique identifiers (ie: A123456) of all participants you wish to have included in the operation, then
        confirm that list to ensure each of the identifiers can be linked to a participant.
      </div>
      <hr />
      <cn-participant-selection model="model.participantSelection"></cn-participant-selection>
      <div ng-if="model.participantSelection.confirmedCount">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Confirm selection</strong>
          </div>
          <div class="container-fluid panel-body">
            You have selected a total of {{ model.participantSelection.confirmedCount }} new participants to make respondents for this questionnaire.
            If you wish to proceed you may click the "Create Respondents" button below, or you may make changes to the participant
            selection list above.
          </div>
          <div class="form-footer text-right rounded-bottom bg-info">
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="model.working"
                    cn-really-message="Are you sure you wish to create {{ model.participantSelection.confirmedCount }} respondent records?"
                    ng-click="model.proceed()">{{ model.working ? 'Working...' : 'Create Respondents' }}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
