<div class="container-fluid bg-primary rounded-top">
  <h4>
    <div class="pull-right">
      <i class="glyphicon glyphicon-question-sign glyph-hover btn-primary btn-header"
         ng-class="{'glyph-disabled':!model.module.hasNotation()}"
         ng-if="model.isRole('administrator') || model.module.hasNotation()"
         uib-tooltip="Click to view documentation"
         tooltip-placement="left"
         ng-click="model.showNotation(); $event.stopPropagation()"></i>
    </div>
    Patch Questionnaire
  </h4>
</div>
<form name="form" class="form-horizontal" novalidate>
  <div class="form-body">
    <div class="form-group">
      <label for="name" class="control-label col-sm-2">Patch File</label>
      <div class="col-sm-10">
        <input
          id="name"
          class="col-sm-10 form-control"
          type="file"
          ng-model="model.viewModel.file"
          cn-upload="model.viewModel.file"
          onchange="angular.element(this).scope().model.viewModel.checkPatch()"
          ng-disabled="model.viewModel.working"
          ng-required="true"></select>
      </div>
    </div>
  </div>
  <div ng-if="model.viewModel.difference" class="container-fluid">
    <div class="panel panel-info">
      <div class="panel-heading"><h4>Patch Summary</h4></div>
      <div class="panel-body">
        <div ng-if="model.viewModel.differenceIsEmpty">No differences found.</div>
        <div ng-repeat="(property, child) in model.viewModel.difference" class="row">
          <div ng-if="![
              'stage_list', 'module_list', 'attribute_list', 'image_list', 'deviation_type_list', 'reminder_list',
              'qnaire_consent_type_confirm_list', 'qnaire_participant_trigger_list', 'qnaire_consent_type_trigger_list',
              'qnaire_alternate_consent_type_trigger_list', 'qnaire_proxy_type_trigger_list'
            ].includes( property )">
            <label class="col-sm-2 control-label">{{
              property | cnStrReplace:'qnaire':'' | cnStrReplace:'_':' ' | cnStrReplace:' list':'s' | cnUCWords
            }}:</label>
            <div ng-switch="property" class="col-sm-10 col-slim form-text">
              <div ng-switch-default>{{ child }}</div>
              <div ng-switch-when="language_list">
                <div ng-if="child.add"><em>ADD:</em> {{ child.add.join( ", " ) }}</div>
                <div ng-if="child.remove"><em>REMOVE:</em> {{ child.remove.join( ", " ) }}</div>
              </div>
              <div ng-switch-when="qnaire_description_list"><cn-description-patch model="child"></cn-description-patch></div>
            </div>
          </div>
          <div ng-if="'reminder_list' == property">
            <label class="container-fluid">Reminder List</label>
            <div class="container-fluid"><cn-qnaire-part-patch subject="reminder" model="child"></cn-qnaire-part-patch></div>
          </div>
          <div ng-if="'attribute_list' == property">
            <label class="container-fluid">Attribute List</label>
            <div class="container-fluid"><cn-qnaire-part-patch subject="attribute" model="child"></cn-qnaire-part-patch></div>
          </div>
          <div ng-if="'image_list' == property">
            <label class="container-fluid">Image List</label>
            <div class="container-fluid"><cn-qnaire-part-patch subject="image" model="child"></cn-qnaire-part-patch></div>
          </div>
          <div ng-if="'deviation_type_list' == property">
            <label class="container-fluid">Deviation Type List</label>
            <div class="container-fluid"><cn-qnaire-part-patch subject="deviation_type" model="child"></cn-qnaire-part-patch></div>
          </div>
          <div ng-if="'module_list' == property">
            <label class="container-fluid">Module List</label>
            <div class="container-fluid"><cn-qnaire-part-patch subject="module" model="child"></cn-qnaire-part-patch></div>
          </div>
          <div ng-if="'stage_list' == property">
            <label class="container-fluid">Stage List</label>
            <div class="container-fluid"><cn-qnaire-part-patch subject="stage" model="child"></cn-qnaire-part-patch></div>
          </div>
          <div ng-if="'qnaire_consent_type_confirm_list' == property">
            <label class="container-fluid">Consent Type Confirm List</label>
            <div class="container-fluid">
              <cn-qnaire-part-patch subject="qnaire_consent_type_confirm" model="child"></cn-qnaire-part-patch>
            </div>
          </div>
          <div ng-if="'qnaire_participant_trigger_list' == property">
            <label class="container-fluid">Participant Trigger List</label>
            <div class="container-fluid">
              <cn-qnaire-part-patch subject="qnaire_participant_trigger" model="child"></cn-qnaire-part-patch>
            </div>
          </div>
          <div ng-if="'qnaire_consent_type_trigger_list' == property">
            <label class="container-fluid">Consent Type Trigger List</label>
            <div class="container-fluid">
              <cn-qnaire-part-patch subject="qnaire_consent_type_trigger" model="child"></cn-qnaire-part-patch>
            </div>
          </div>
          <div ng-if="'qnaire_alternate_consent_type_trigger_list' == property">
            <label class="container-fluid">Alternate Consent Type Trigger List</label>
            <div class="container-fluid">
              <cn-qnaire-part-patch subject="qnaire_alternate_consent_type_trigger" model="child"></cn-qnaire-part-patch>
            </div>
          </div>
          <div ng-if="'qnaire_proxy_type_trigger_list' == property">
            <label class="container-fluid">Proxy Type Trigger List</label>
            <div class="container-fluid">
              <cn-qnaire-part-patch subject="qnaire_proxy_type_trigger" model="child"></cn-qnaire-part-patch>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button" class="btn btn-default" ng-click="model.viewModel.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary"
            ng-disabled="!model.viewModel.file || model.viewModel.working || model.viewModel.differenceIsEmpty"
            ng-click="model.viewModel.applyPatch()">Patch</button>
  </div>
</form>
