<div class="container-fluid bg-primary rounded-top">
  <h4>
    <div class="pull-right">
      <i class="glyphicon glyphicon-question-sign glyph-hover btn-primary btn-header"
         ng-class="{'glyph-disabled':!model.module.hasNotation()}"
         ng-if="model.isRole('administrator') || model.module.hasNotation()"
         uib-tooltip="Click to view documentation"
         tooltip-placement="left"
         ng-click="model.showNotation(); $event.stopPropagation()"></i>
    </div>
    Upload Lookup Data
  </h4>
</div>
<form name="form" class="form-horizontal" novalidate>
  <div class="form-body">
    <div class="form-group">
      <label for="name" class="control-label col-sm-2">Data File</label>
      <div class="col-sm-10">
        <input
          id="name"
          class="col-sm-10 form-control"
          type="file"
          ng-model="model.viewModel.file"
          cn-upload="model.viewModel.file"
          onchange="angular.element(this).scope().model.viewModel.checkData()"
          ng-disabled="model.viewModel.working"
          ng-required="true"></select>
      </div>
    </div>
  </div>
  <div ng-if="model.viewModel.dataSummary" class="container-fluid">
    <div class="panel panel-info">
      <div class="panel-heading"><h4>Upload Summary</h4></div>
      <div class="panel-body">
        <h3>Lookup Data</h3>
        <div class="form-group">
          <label class="col-sm-3 control-label">New records</label>
          <div class="col-sm-9 form-text">{{ model.viewModel.dataSummary.lookup_item.created }}</div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Pre-existing records</label>
          <div class="col-sm-9 form-text">{{ model.viewModel.dataSummary.lookup_item.exists }}</div>
        </div>
        <h3>Indicators</h3>
        <div ng-repeat="(indicator, data) in model.viewModel.dataSummary.indicator_list" class="row">
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ indicator }} {{ data.new ? '(new)' : '' }}</label>
            <div class="col-sm-9 form-text">{{ data.created }} new, {{ data.exists }} pre-existing associations</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button" class="btn btn-default" ng-click="model.viewModel.cancel()">Cancel</button>
    <button type="button" class="btn btn-primary"
            ng-disabled="!model.viewModel.file || model.viewModel.working"
            ng-click="model.viewModel.applyData()">Upload</button>
  </div>
</form>
