<cn-loading ng-if="model.displayModel.isDataLoading" message="Loading response details"></cn-loading>
<div ng-if="!model.displayModel.isDataLoading" class="container-fluid">
  <div class="container-fluid vertical-spacer" ng-repeat="module in model.displayModel.dataList">
    <div ng-if="module.description" ng-bind-html="module.description"></div>
    <div class="container-fluid vertical-spacer" ng-repeat="page in module.page_list">
      <div ng-if="page.description" ng-bind-html="page.description"></div>
      <div class="container-fluid vertical-spacer" ng-repeat="question in page.question_list">
        <div ng-if="question.description">
          <span ng-bind-html="question.description"></span>
          <strong
            ng-if="!['comment','device','list'].includes( question.type )"
            ng-style="
              ['audio', 'signature'].includes(question.type) ?
                null : { 'padding': '0 4px', 'outline': 'black solid 1px' }
            "
            ng-bind-html="null === question.answer ? '(empty)' : question.answer"
          ></strong>
          <div ng-if="'list' == question.type">
            <div class="container-fluid" ng-repeat="option in question.option_list">
              <div ng-if="option.description">
                <strong>{{ option.selected ? "&#x2611;" : "&#x25a2;" }}</strong>
                <span ng-bind-html="option.description"></span>
                <strong
                  ng-if="null != option.value"
                  style="padding: 0 4px; outline: black solid 1px;"
                  ng-bind-html="option.value"
                ></strong>
              </div>
            </div>
            <div class="container-fluid" ng-if="question.isString">
              <strong>&#x2611;</strong>
              <span ng-bind-html="question.answer"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
