<cn-qnaire-navigator ng-if="'page' == model.getSubjectFromState()"></cn-qnaire-navigator>
<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      {{ !isComplete ? 'Loading...' : model.renderModel.data.closed ? text( 'misc.qnaireClosed' ) : model.renderModel.data.title }}
      <div class="pull-right" style="margin-top: -7px; margin-bottom: 3px;">
        <select class="form-control larger"
                ng-model="model.renderModel.currentLanguage"
                ng-change="model.renderModel.setLanguage()"
                ng-options="lang.code as lang.name for lang in model.renderModel.languageList">
        </select>
      </div>
      <button class="btn btn-info pull-right horizontal-spacer"
              ng-init="showHotKeyHint=false"
              ng-show="model.renderModel.showHidden && model.renderModel.data.page_id"
              ng-click="showHotKeyHint = !showHotKeyHint"
              ng-bind-html="text( showHotKeyHint ? 'hotKey.hide' : 'hotKey.show' )"
              style="margin-top: -5px;">
        {{ showHotKeyHint ? 'Hide' : 'Show' }} Hot-key Hints
        <i class="glyphicon" ng-class="showHotKeyHint ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></i>
      </button>
    </h4>
  </div>
  <div ng-if="!isComplete" class="loading spacer" style="height: 8em;" uib-tooltip="Loading&hellip;"></div>
  <div ng-if="isComplete">
    <div ng-if="model.renderModel.data.closed || !model.renderModel.data.page_id">
      <div class="spacer" style="min-height: 8em;">
        <div class="container-fluid vertical-spacer">
          <span class="larger" ng-bind-html="
            model.renderModel.data.closed ? model.renderModel.data.closes[model.renderModel.currentLanguage] :
            model.renderModel.data.submitted ? model.renderModel.data.conclusions[model.renderModel.currentLanguage] :
                             model.renderModel.data.introductions[model.renderModel.currentLanguage]">
          </span>
        </div>
      </div>
      <div class="form-footer text-right rounded-bottom bg-info">
        <button type="button"
                ng-if="!model.renderModel.data.closed && !model.renderModel.data.submitted"
                ng-disabled="model.renderModel.working || !isComplete"
                ng-click="model.renderModel.proceed()"
                class="btn btn-success larger"
                style="width: 12em;">
          {{ text( 'misc.begin' ) }}
        </button>
      </div>
    </div>
    <div ng-if="!model.renderModel.data.closed && model.renderModel.data.page_id">
      <div ng-if="model.viewModel.record.debug" class="form-footer text-right bg-info">
        <cn-page-navigator model="model" is-complete="isComplete" text="text"></cn-page-navigator>
      </div>
      <div class="progress no-rounding" style="margin-bottom: 0;">
        <div class="progress-bar larger"
             role="progressbar"
             style="width: {{ model.renderModel.progress }}%; -webkit-transition: none; transition: none;"
             aria-valuenow="{{ model.renderModel.progress }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ model.renderModel.progress }}%</div>
      </div>
      <div class="container-fluid bg-warning"
           ng-if="model.renderModel.showHidden"
           ng-show="showHotKeyHint">
        <h3 ng-bind-html="text( 'hotKey.title' )"></h3>
        <ul ng-bind-html="text( 'hotKey.body' )"></ul>
      </div>
      <form name="form" novalidate><fieldset ng-disabled="model.renderModel.working">
        <div class="spacer">
          <div class="container-fluid vertical-spacer">
            <span class="text-info vertical-spacer larger"
                  ng-bind-html="model.viewModel.record.module_prompts[model.renderModel.currentLanguage]"
                  uib-tooltip-html="model.viewModel.record.module_popups[model.renderModel.currentLanguage]"></span>
            <span class="text-info vertical-spacer larger"
                  ng-bind-html="model.viewModel.record.prompts[model.renderModel.currentLanguage]"
                  uib-tooltip-html="model.viewModel.record.popups[model.renderModel.currentLanguage]"></span>
            <div ng-class="{ 'highlight-no-bold': model.renderModel.focusQuestionId == question.id }"
                 ng-attr-id="baseQuestion{{ question.id }}"
                 ng-repeat="question in model.renderModel.getVisibleQuestionList()">
              <hr ng-if="!$first" />
              <div ng-if="model.viewModel.record.debug || model.renderModel.showHidden"
                   class="small text-muted">[{{ question.variable_name }}]</div>
              <div class="vertical-spacer larger"
                   ng-class="{
                     'text-info': 'comment' == question.type,
                     'text-danger': true === question.incomplete
                   }"
                   ng-bind-html="(
                     question.popups[model.renderModel.currentLanguage] || question.minimum || question.maximum ? '<sup>ⓘ</sup> ' : ''
                   ) + question.prompts[model.renderModel.currentLanguage]"
                   uib-tooltip-html="question.popups[model.renderModel.currentLanguage] + (
                     ( question.minimum || question.maximum ? ' [' : '' ) +
                     ( question.minimum ? 'Min: ' + model.renderModel.evaluateLimit( question.minimum ) : '' ) +
                     ( question.minimum && question.maximum ? ', ' : '' ) +
                     ( question.maximum ? 'Max: ' + model.renderModel.evaluateLimit( question.maximum ) : '' ) +
                     ( question.minimum || question.maximum ? ']' : '' )
                   )">
              </div>
              <div class="horizontal-spacer"
                   ng-class="{ 'has-error': true === question.incomplete }"
                   ng-if="'comment' != question"
                   ng-switch="question.type">
                <div ng-switch-when="boolean">
                  <label class="btn btn-default full-width larger"
                         ng-class="{ 'color-red': true === question.incomplete }"
                         style="text-align: left; font-style: italic; font-weight: normal; white-space: normal;"
                         ng-model="question.answer.yes"
                         ng-click="model.renderModel.setAnswer( question, question.answer.yes ? true : null )"
                         uib-btn-checkbox>
                    {{ model.renderModel.getHotKey( question, true ) }} 
                    <i class="glyphicon" ng-class="question.answer.yes ? 'glyphicon-check' : 'glyphicon-unchecked'"></i>
                    {{ text( 'misc.yes' ) }}
                  </label>
                  <label class="btn btn-default full-width larger"
                         ng-class="{ 'color-red': true === question.incomplete }"
                         style="text-align: left; font-style: italic; font-weight: normal; white-space: normal;"
                         ng-model="question.answer.no"
                         ng-click="model.renderModel.setAnswer( question, question.answer.no ? false : null )"
                         uib-btn-checkbox>
                    {{ model.renderModel.getHotKey( question, false ) }} 
                    <i class="glyphicon" ng-class="question.answer.no ? 'glyphicon-check' : 'glyphicon-unchecked'"></i>
                    {{ text( 'misc.no' ) }}
                  </label>
                </div>
                <div ng-switch-when="list"
                     class="row row-no-gutters"
                     ng-repeat="option in model.renderModel.getVisibleOptionList( question )">
                  <div ng-if="!option.multiple_answers" ng-class="{ 'col-xs-6 col-slim': null != option.extra }">
                    <label
                      class="btn btn-default full-width larger"
                      style="text-align: left; white-space: normal;"
                      ng-class="{
                        'rounded-bottom-left rounded-top-left': null != option.extra,
                        'color-red': true === question.incomplete || option.id === question.incomplete
                      }"
                      ng-model="question.answer.optionList[option.id].selected"
                      ng-style="{ 'font-style': option.exclusive ? 'italic' : 'normal', 'font-weight': 'normal' }"
                      ng-click="question.answer.optionList[option.id].selected ?
                        model.renderModel.addOption( question, option ) :
                        model.renderModel.removeOption( question, option )"
                      ng-bind-html="model.renderModel.getHotKey( question, option.id ) + ' <i class=\'glyphicon ' + (
                        question.answer.optionList[option.id].selected ? 'glyphicon-check' : 'glyphicon-unchecked'
                      ) + '\'></i> ' + option.prompts[model.renderModel.currentLanguage] + (
                        option.popups[model.renderModel.currentLanguage] || option.minimum || option.maximum ? ' ⓘ' : ''
                      )"
                      uib-tooltip-html="option.popups[model.renderModel.currentLanguage] + (
                        ( option.minimum || option.maximum ? ' [' : '' ) +
                        ( option.minimum ? 'Min: '+ model.renderModel.evaluateLimit( option.minimum ) : '' ) +
                        ( option.minimum && option.maximum ? ', ' : '' ) +
                        ( option.maximum ? 'Max: '+ model.renderModel.evaluateLimit( option.maximum ) : '' ) +
                        ( option.minimum || option.maximum ? ']' : '' )
                      )"
                      uib-btn-checkbox>
                    </label>
                  </div>
                  <div ng-if="option.multiple_answers">
                    <label
                      class="btn btn-default full-width rounded-bottom-left rounded-top-left larger"
                      ng-class="{ 'color-red': true === question.incomplete }"
                      style="text-align: left; white-space: normal;"
                      ng-style="{ 'font-style': option.exclusive ? 'italic' : 'normal', 'font-weight': 'normal' }"
                      ng-bind-html="model.renderModel.getHotKey( question, option.id ) +
                        option.prompts[model.renderModel.currentLanguage] + (
                          option.popups[model.renderModel.currentLanguage] || option.minimum || option.maximum ? ' ⓘ' : ''
                        ) +
                        ' <i class=\'glyphicon glyphicon-plus\'></i>'"
                      uib-tooltip-html="option.popups[model.renderModel.currentLanguage] + (
                        ( option.minimum || option.maximum ? ' [' : '' ) +
                        ( option.minimum ? 'Min: '+ model.renderModel.evaluateLimit( option.minimum ) : '' ) +
                        ( option.minimum && option.maximum ? ', ' : '' ) +
                        ( option.maximum ? 'Max: '+ model.renderModel.evaluateLimit( option.maximum ) : '' ) +
                        ( option.minimum || option.maximum ? ']' : '' )
                      )"
                      ng-click="model.renderModel.addAnswerValue( question, option )">
                    </label>
                  </div>
                  <div ng-if="null != option.extra"
                       ng-repeat="value in question.answer.optionList[option.id].valueList">
                    <div class="col-slim" ng-class="option.multiple_answers ? 'col-xs-11' : 'col-xs-6'" ng-switch="option.extra">
                      <input ng-switch-when="date"
                        cn-ignore-mouse-wheel
                        type="text"
                        id="option{{ option.id }}value{{ $index }}"
                        name="answerValue"
                        ng-class="{ 'color-red': true === question.incomplete || option.id === question.incomplete }"
                        ng-model="question.answer.optionList[option.id].formattedValueList[$index]"
                        onkeydown="return false"
                        ng-click="model.renderModel.selectDateForOption( question, option, $index, value )"
                        ng-disabled="!option.multiple_answers && !question.answer.optionList[option.id].selected"
                        class="form-control rounded-bottom-left rounded-bottom-right larger"></input>
                      <input ng-switch-when="number"
                        cn-ignore-mouse-wheel
                        type="number"
                        id="option{{ option.id }}value{{ $index }}"
                        name="answerValue"
                        ng-class="{ 'color-red': true === question.incomplete || option.id === question.incomplete }"
                        ng-model="value"
                        cn-change="model.renderModel.setAnswerValue( question, option, $index, value )"
                        ng-disabled="!option.multiple_answers && !question.answer.optionList[option.id].selected"
                        class="form-control rounded-bottom-left rounded-bottom-right larger"></input>
                      <input ng-switch-when="string"
                        cn-ignore-mouse-wheel
                        type="string"
                        id="option{{ option.id }}value{{ $index }}"
                        name="answerValue"
                        ng-class="{ 'color-red': true === question.incomplete || option.id === question.incomplete }"
                        ng-model="value"
                        cn-change="model.renderModel.setAnswerValue( question, option, $index, value )"
                        ng-disabled="!option.multiple_answers && !question.answer.optionList[option.id].selected"
                        class="form-control rounded-bottom-left rounded-bottom-right larger"></input>
                      <textarea ng-switch-when="text"
                        cn-elastic
                        id="option{{ option.id }}value{{ $index }}"
                        name="answerValue"
                        ng-class="{ 'color-red': true === question.incomplete || option.id === question.incomplete }"
                        ng-model="value"
                        cn-change="model.renderModel.setAnswerValue( question, option, $index, value )"
                        ng-disabled="!option.multiple_answers && !question.answer.optionList[option.id].selected"
                        class="form-control rounded-bottom-left rounded-bottom-right larger"></textarea>
                    </div>
                    <button type="button"
                            class="btn btn-danger col-slim col-xs-1 larger"
                            ng-if="option.multiple_answers"
                            ng-click="model.renderModel.removeAnswerValue( question, option, $index )">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                  </div>
                </div>
                <input ng-switch-when="date"
                  ng-attr-id="question{{ question.id }}"
                  cn-ignore-mouse-wheel
                  type="text"
                  placeholder="{{ model.renderModel.getHotKey( question, null ) }}"
                  class="form-control larger"
                  ng-class="{ 'color-red': true === question.incomplete }"
                  ng-model="question.answer.formattedValue"
                  ng-click="model.renderModel.selectDate( question, question.answer.value )"
                  onkeydown="return false">
                </input>
                <input ng-switch-when="number"
                  ng-attr-id="question{{ question.id }}"
                  cn-ignore-mouse-wheel
                  type="number"
                  placeholder="{{ model.renderModel.getHotKey( question, null ) }}"
                  class="form-control larger"
                  ng-class="{ 'color-red': true === question.incomplete }"
                  ng-model="question.answer.value"
                  cn-change="model.renderModel.setAnswer( question, question.answer.value )"
                  autocomplete="off">
                </input>
                <input ng-switch-when="string"
                  ng-attr-id="question{{ question.id }}"
                  cn-ignore-mouse-wheel
                  type="text"
                  placeholder="{{ model.renderModel.getHotKey( question, null ) }}"
                  class="form-control larger"
                  ng-class="{ 'color-red': true === question.incomplete }"
                  ng-model="question.answer.value"
                  cn-change="model.renderModel.setAnswer( question, question.answer.value )"
                  autocomplete="off">
                </input>
                <textarea ng-switch-when="text"
                  ng-attr-id="question{{ question.id }}"
                  placeholder="{{ model.renderModel.getHotKey( question, null ) }}"
                  class="form-control larger"
                  ng-class="{ 'color-red': true === question.incomplete }"
                  ng-model="question.answer.value"
                  cn-change="model.renderModel.setAnswer( question, question.answer.value )"
                  cn-elastic>
                </textarea>
                <div class="btn-group full-width"
                     ng-if="'comment' != question.type && ( question.dkna_allowed || question.refuse_allowed )">
                  <label class="btn btn-default larger"
                         ng-if="question.dkna_allowed"
                         ng-class="{
                           'color-red': true === question.incomplete,
                           'col-xs-6': question.refuse_allowed,
                           'col-xs-12': !question.refuse_allowed
                         }"
                         style="text-align: left; font-style: italic; font-weight: normal; white-space: normal;"
                         ng-model="question.answer.dkna"
                         ng-click="model.renderModel.setAnswer( question, question.answer.dkna ? { dkna: true } : null )"
                         uib-btn-checkbox>
                    {{ model.renderModel.getHotKey( question, 'dkna' ) }} 
                    <i class="glyphicon" ng-class="question.answer.dkna ? 'glyphicon-check' : 'glyphicon-unchecked'"></i>
                    {{ text( 'misc.dkna' ) }}
                  </label>
                  <label class="btn btn-default larger"
                         ng-if="question.refuse_allowed"
                         ng-class="{
                           'color-red': true === question.incomplete,
                           'col-xs-6': question.dkna_allowed,
                           'col-xs-12': !question.dkna_allowed
                         }"
                         style="text-align: left; font-style: italic; font-weight: normal; white-space: normal"
                         ng-model="question.answer.refuse"
                         ng-click="model.renderModel.setAnswer( question, question.answer.refuse ? { refuse: true } : null )"
                         uib-btn-checkbox>
                    {{ model.renderModel.getHotKey( question, 'refuse' ) }} 
                    <i class="glyphicon" ng-class="question.answer.refuse ? 'glyphicon-check' : 'glyphicon-unchecked'"></i>
                    {{ text( model.renderModel.showHidden ? 'misc.refuse' : 'misc.preferNotToAnswer' ) }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid" ng-if="model.renderModel.checkForIncompleteQuestions()">
            <h4 class="text-center alert alert-danger"><strong>{{ text( 'misc.mustCompleteAll' ) }}</strong></h4>
          </div>
        </div>
        <div class="form-footer text-right rounded-bottom bg-info">
          <cn-page-navigator model="model" is-complete="isComplete" text="text" placement="bottom"></cn-page-navigator>
        </div>
      </fieldset></form>
    </div>
  </div>
</div>
<div class="vertical-spacer"></div>
<div ng-if="isComplete &&
            model.renderModel.data.page_id &&
            model.renderModel.previewMode &&
            0 < model.renderModel.activeAttributeList.length"
     class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>Active Attribute List</h4>
  </div>
  <form name="form" novalidate>
    <div class="spacer">
      <div class="container-fluid vertical-spacer">
        <div ng-repeat="activeAttribute in model.renderModel.activeAttributeList" class="row vertical-spacer">
          <label for="{{ activeAttribute.name }}" class="control-label col-sm-3">{{ activeAttribute.name }}</label>
          <div class="col-sm-9">
            <input name="{{ activeAttribute.name }}"
                   ng-if="'showhidden' != activeAttribute.name"
                   ng-model="activeAttribute.value"
                   class="form-control"
                   type="text"
                   autocomplete="off">
            </input>
            <select name="{{ activeAttribute.name }}"
                   ng-if="'showhidden' == activeAttribute.name"
                   ng-model="activeAttribute.value"
                   class="form-control"
                   type="text"
                   autocomplete="off">
              <option value="true">Yes</option>
              <option value="">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
