<cn-qnaire-navigator ng-if="'page' == model.getSubjectFromState()"></cn-qnaire-navigator>
<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      {{ !isComplete ? 'Loading...' : model.renderModel.data.closed ? text( 'misc.qnaireClosed' ) : model.renderModel.data.title }}
      <div class="pull-right" style="margin-top: -7px; margin-bottom: 3px;">
        <select class="form-control larger"
                ng-model="model.renderModel.currentLanguage"
                ng-change="model.renderModel.setLanguage()"
                ng-options="lang.code as lang.name for lang in model.renderModel.languageList">
        </select>
      </div>
      <div class="pull-right" style="margin-top: 3px; margin-right: 26px;">
        <i class="glyphicon glyphicon-refresh glyph-hover btn-primary btn-header"
           ng-click="model.renderModel.onReady()"
           uib-tooltip="Click to refresh data"
           tooltip-placement="left"></i>
      </div>
      <button class="btn btn-info pull-right horizontal-spacer"
              ng-init="showHotKeyHint=false"
              ng-show="model.renderModel.showHidden && model.renderModel.data.page_id"
              ng-click="showHotKeyHint = !showHotKeyHint"
              ng-bind-html="text( showHotKeyHint ? 'hotKey.hide' : 'hotKey.show' )"
              style="margin-top: -5px;">
        {{ showHotKeyHint ? 'Hide' : 'Show' }} Hot-key Hints
        <i class="glyphicon" ng-class="showHotKeyHint ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></i>
      </button>
    </h4>
  </div>
  <div ng-if="!isComplete" class="loading spacer" style="height: 8em;" uib-tooltip="Loading&hellip;"></div>
  <div ng-if="isComplete">

    <!-- INTRO/CONCLUSION/CLOSED -->
    <div ng-if="model.renderModel.data.closed || ( !model.renderModel.data.stages && !model.renderModel.data.page_id )">
      <div class="spacer" style="min-height: 8em;">
        <div class="container-fluid vertical-spacer">
          <span class="larger" ng-bind-html="
            model.renderModel.data.closed ? model.renderModel.data.closedList[model.renderModel.currentLanguage] :
            model.renderModel.data.submitted ? model.renderModel.data.conclusionList[model.renderModel.currentLanguage] :
                             model.renderModel.data.introductionList[model.renderModel.currentLanguage]">
          </span>
        </div>
      </div>
      <div class="form-footer text-right rounded-bottom bg-info">
        <button type="button"
                ng-if="!model.renderModel.data.closed && !model.renderModel.data.submitted"
                ng-disabled="model.renderModel.working || !isComplete"
                ng-click="model.renderModel.proceed()"
                class="btn btn-success larger"
                style="width: 12em;">
          {{ text( 'misc.begin' ) }}
        </button>
      </div>
    </div>

    <!-- QNAIRES WITH STAGES ONLY -->
    <div ng-if="!model.renderModel.data.closed && model.renderModel.data.stages && !model.renderModel.data.page_id">

      <!-- CHECK IN -->
      <div ng-if="!model.renderModel.data.checked_in" style="padding-top: 1em; padding-bottom: 1em">
        <div class="container-fluid">
          <h4>Participant Details</h4>
          <div class="form-horizontal">
            <cn-view-input
              ng-repeat="input in model.renderModel.participantInputList"
              model="model.renderModel.participantModel"
              input="input"></cn-view-input>
          </div>
          <h4>Primary Address Details</h4>
          <div class="form-horizontal">
            <cn-view-input
              ng-repeat="input in model.renderModel.addressInputList"
              model="model.renderModel.addressModel"
              input="input"></cn-view-input>
          </div>
          <h4>Consent Details</h4>
          <div class="form-horizontal">
            <div class="form-group" ng-repeat="consent in model.renderModel.consentList">
              <label for="consent_type_{{ consent.consent_type_id }}"
                     class="control-label col-sm-3"
                     ng-bind-html="consent.consent_type"></label>
              <div class="row col-sm-9">
                <div class="input-group">
                  <select ng-attr-id="consent_type_{{ consent.consent_type_id }}"
                          ng-model="consent.accept"
                          ng-change="model.renderModel.setConsent( consent )"
                          ng-options="item.value as item.name disable when item.disabled for item in model.renderModel.consentEnumList"
                          ng-disabled="!consent.access"
                          class="form-control">
                  </select>
                </div>
              </div>
            </div>
          </div>
          <h4>Interview Details</h4>
          <div class="form-horizontal">
            <div class="form-group">
              <label for="token" class="control-label col-sm-3">Token (Interview ID)</label>
              <div class="row col-sm-9">
                <div class="input-group">
                  <input
                    id="token"
                    type="text"
                    placeholder="(Scan the interview barcode here)"
                    class="form-control"
                    ng-model="model.renderModel.data.scanned_token"
                    ng-readonly="model.renderModel.data.token == model.renderModel.data.scanned_token"
                    autocomplete="off">
                  </input>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="token" class="control-label col-sm-3">Comments</label>
              <div class="row col-sm-9">
                <div class="input-group">
                  <textarea id="comments"
                            class="form-control"
                            style="min-height: 8.1em;"
                            ng-model="model.renderModel.data.comments"
                            cn-change="model.renderModel.setResponseComments()"
                            cn-elastic></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-footer text-right rounded-bottom bg-info"
             ng-if="!model.renderModel.data.closed && model.renderModel.data.stages && !model.renderModel.data.checked_in">
          <button type="button"
                  class="btn btn-primary"
                  ng-disabled="null == model.renderModel.data.scanned_token"
                  ng-click="model.renderModel.setCheckIn( true )">
            Proceed
          </button>
        </div>
      </div>

      <!-- STAGE SELECTION -->
      <div ng-if="model.renderModel.data.checked_in" style="padding-top: 1em; padding-bottom: 1em">
        <div class="container-fluid">
          <div class="form-body well allow-select">
            <div class="row">
              <div class="col-sm-5">
                <div class="row">
                  <label for="name" class="control-label col-sm-4">Name:</label>
                  <div id="name" class="form-text col-sm-8">
                    {{ model.renderModel.data.first_name }} {{ model.renderModel.data.last_name }}
                  </div>
                </div>
                <div class="row">
                  <label for="start_datetime" class="control-label col-sm-4">Start Date &amp; Time:</label>
                  <div id="start_datetime" class="form-text col-sm-8">
                    {{ model.renderModel.data.start_datetime | cnDatetime: 'datetime' }}
                  </div>
                </div>
                <div class="row">
                  <label for="end_datetime" class="control-label col-sm-4">End Date &amp; Time:</label>
                  <div id="end_datetime" class="form-text col-sm-8">
                    {{ model.renderModel.data.end_datetime | cnDatetime: 'datetime' }}
                  </div>
                </div>
                <div class="row">
                  <label for="status" class="control-label col-sm-4">Status:</label>
                  <div id="status" class="form-text col-sm-8">
                    {{ null == model.renderModel.data.start_datetime ? 'New' :
                       null == model.renderModel.data.end_datetime ? 'In Progress' : 'Completed' }}
                  </div>
                </div>
                <div class="vertical-spacer">
                  <button type="button"
                          class="btn btn-default btn-thin full-width"
                          ng-if="null == model.renderModel.data.end_datetime"
                          ng-click="model.renderModel.setCheckIn( false )">
                    Re-open Check-In
                  </button>
                  <button type="button"
                          class="btn btn-default btn-thin full-width"
                          ng-if="null != model.renderModel.data.end_datetime"
                          ng-click="model.renderModel.reopen()">
                    Re-open Interview
                  </button>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-sm-12">
                    <label for="comments" class="control-label">Comments:</label>
                    <textarea id="comments"
                              name="comments"
                              class="form-control"
                              style="min-height: 8.1em;"
                              ng-model="model.renderModel.data.comments"
                              cn-change="model.renderModel.setResponseComments()"
                              ng-disabled="null != model.renderModel.data.end_datetime"
                              cn-elastic></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-striped rounded">
                <thead class="bg-info">
                  <tr>
                    <td>Name</td>
                    <td>Status</td>
                    <td>Start</td>
                    <td>End</td>
                    <td>Deviation</td>
                    <td ng-if="null == model.renderModel.data.end_datetime"></td>
                    <td ng-if="null == model.renderModel.data.end_datetime"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="responseStage in model.renderModel.responseStageList">
                    <td style="line-height: 26px;">{{ responseStage.rank }}) {{ responseStage.name }}</td>
                    <td style="line-height: 26px;">{{ responseStage.status }}</td>
                    <td style="line-height: 26px;">{{ responseStage.start_datetime | cnDatetime: 'timesecond' }}</td>
                    <td style="line-height: 26px;">{{ responseStage.end_datetime | cnDatetime: 'timesecond' }}</td>
                    <td style="line-height: 26px;">{{ responseStage.deviation ? responseStage.deviation : '(none)' }}</td>
                    <td ng-if="null == model.renderModel.data.end_datetime" style="line-height: 26px;">
                      <button type="button"
                              class="btn btn-default btn-narrow btn-thin full-width"
                              ng-if="!['not ready', 'skipped', 'parent skipped'].includes( responseStage.status )"
                              ng-click="model.renderModel.showStageComments( responseStage.id )"
                              ng-bind-html="'Comments' +
                                ( responseStage.comments ? ' <i class=\'glyphicon glyphicon-ok\'></i>' : '' )">
                      </button>
                    </td>
                    <td ng-if="null == model.renderModel.data.end_datetime" style="line-height: 26px;">
                      <div class="btn-group full-width">
                        <button type="button"
                                ng-repeat="operation in responseStage.operations"
                                ng-style="{ 'width': 1 == responseStage.operations.length ? '100%' :
                                                     2 == responseStage.operations.length ? '50%' : '33%' }"
                                class="btn btn-default btn-narrow btn-thin"
                                ng-bind-html="operation.title"
                                ng-disabled="!model.renderModel.isStageOperationEnabled( responseStage.id, operation.name )"
                                ng-click="model.renderModel.runStageOperation( responseStage.id, operation.name )"></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ACTIVE PAGE -->
    <div ng-if="!model.renderModel.data.closed && model.renderModel.data.page_id">
      <div ng-if="model.viewModel.record.debug" class="form-footer text-right bg-info">
        <cn-page-navigator model="model" is-complete="isComplete" text="text"></cn-page-navigator>
      </div>
      <div class="progress no-rounding" style="margin-bottom: 0;">
        <div class="progress-bar larger"
             role="progressbar"
             style="width: {{ model.renderModel.progress }}%; -webkit-transition: none; transition: none;"
             aria-valuenow="{{ model.renderModel.progress }}"
             aria-valuemin="0"
             aria-valuemax="100">{{ model.renderModel.progress }}%</div>
      </div>
      <div class="container-fluid bg-warning"
           ng-if="model.renderModel.showHidden"
           ng-show="showHotKeyHint">
        <h3 ng-bind-html="text( 'hotKey.title' )"></h3>
        <ul ng-bind-html="text( 'hotKey.body' )"></ul>
      </div>
      <form name="form" novalidate><fieldset ng-disabled="model.renderModel.working">
        <div class="spacer">
          <div class="container-fluid vertical-spacer"
               ng-class="{
                 'no-horizontal-padding': model.viewModel.record.tabulate,
                 'striped-rows': model.viewModel.record.tabulate,
                 'hover-rows': model.viewModel.record.tabulate
               }">
            <span class="text-info vertical-spacer larger"
                  ng-bind-html="model.renderModel.getModulePrompt()"
                  uib-tooltip-html="model.renderModel.getModulePopup()"></span>
            <span class="text-info vertical-spacer larger"
                  ng-bind-html="model.renderModel.getPagePrompt()"
                  uib-tooltip-html="model.renderModel.getPagePopup()"></span>
            <div ng-class="{ 'highlight-no-bold': model.renderModel.focusQuestionId == question.id }"
                 ng-attr-id="baseQuestion{{ question.id }}"
                 ng-repeat="question in model.renderModel.getVisibleQuestionList()">
              <div class="container-fluid"
                   ng-style="model.viewModel.record.tabulate ? { 'padding': '5px 0px 5px 5px' } : null">
                <hr ng-if="!$first && !model.viewModel.record.tabulate" />
                <div ng-if="model.viewModel.record.debug || model.renderModel.showHidden"
                     class="spacer small text-muted"
                     ng-class="{ 'float-left': model.viewModel.record.tabulate }"
                     style="line-height: 26px"">[{{ question.variable_name }}]</div>
                <div class="vertical-spacer larger"
                     ng-class="{
                       'text-info': 'comment' == question.type,
                       'text-danger': true === question.incomplete,
                       'float-left': model.viewModel.record.tabulate
                     }"
                     ng-bind-html="model.renderModel.getQuestionPrompt( question )"
                     uib-tooltip-html="model.renderModel.getQuestionPopup( question )">
                </div>
                <div class="horizontal-spacer"
                     ng-class="{
                       'has-error': true === question.incomplete,
                       'float-right': model.viewModel.record.tabulate
                     }"
                     ng-if="'comment' != question.type"
                     ng-switch="question.type">
                  <div ng-switch-when="audio">
                    <button type="button"
                            class="btn btn-default larger col-xs-3"
                            ng-class="{ 'color-red': true === question.incomplete }"
                            ng-click="question.audio.recordingInProgress ?
                              model.renderModel.stopRecording( question ) : model.renderModel.startRecording( question )"
                            ng-bind-html="text(
                              question.audio.recordingInProgress ? 'misc.stop' :
                              question.answer.formattedValue ? 'misc.reRecord' :
                              'misc.record'
                            )" />
                    <div class="col-xs-9 col-slim-right">
                      <div ng-if="!question.audio.recordingInProgress"
                           ng-style="{
                            'cursor': question.answer.formattedValue ? 'auto' : 'not-allowed',
                            'opacity': question.answer.formattedValue ? 1.0 : 0.5
                          }">
                        <audio ng-attr-id="questionAudio{{ question.id }}"
                               ng-src="{{ question.answer.formattedValue }}"
                               class="full-width"
                               ng-style="{
                                 'height': '40px',
                                 'pointer-events': question.answer.formattedValue ? 'auto' : 'none',
                                 'background': question.incomplete ? 'red' : 'none'
                               }"
                               controls></audio>
                      </div>
                      <div ng-if="question.audio.recordingInProgress"
                           class="progress no-rounding"
                           style="height: 40px; background-color: lightgrey; border: 4px solid darkslategrey; margin-bottom: 6.8px;">
                        <div class="progress-bar larger"
                             role="volumebar"
                             style="background-color: red;
                                    width: {{ question.audio.inputVolume*100 }}%;
                                    -webkit-transition: none;
                                    transition: none;"
                             aria-valuenow="{{ question.audio.inputVolume*100  }}"
                             aria-valuemin="0"
                             aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                  <div ng-switch-when="boolean"
                       ng-class="{ 'float-left': model.viewModel.record.tabulate }">
                    <label class="btn btn-default larger"
                           ng-class="{
                             'full-width': !model.viewModel.record.tabulate,
                             'color-red': true === question.incomplete
                           }"
                           style="text-align: left; font-style: italic; font-weight: normal; white-space: normal;"
                           ng-model="question.answer.yes"
                           ng-click="model.renderModel.setAnswer( question, question.answer.yes ? true : null )"
                           uib-btn-checkbox>
                      {{ model.renderModel.getHotKey( question, true ) }}
                      <i class="glyphicon" ng-class="question.answer.yes ? 'glyphicon-check' : 'glyphicon-unchecked'"></i>
                      {{ text( 'misc.yes' ) }}
                    </label>
                    <label class="btn btn-default largear"
                           ng-class="{
                             'full-width': !model.viewModel.record.tabulate,
                             'color-red': true === question.incomplete
                           }"
                           style="text-align: left; font-style: italic; font-weight: normal; white-space: normal;"
                           ng-model="question.answer.no"
                           ng-click="model.renderModel.setAnswer( question, question.answer.no ? false : null )"
                           uib-btn-checkbox>
                      {{ model.renderModel.getHotKey( question, false ) }}
                      <i class="glyphicon" ng-class="question.answer.no ? 'glyphicon-check' : 'glyphicon-unchecked'"></i>
                      {{ text( 'misc.no' ) }}
                    </label>
                  </div>
                  <div ng-switch-when="device">
                    <h4 ng-if="null == question.device_id" class="text-danger text-center">
                      Warning: Device question is not associated with a device!
                    </h4>
                    <button ng-if="null != question.device_id" class="btn btn-default larger full-width"
                            ng-class="{ 'color-red': true === question.incomplete }"
                            ng-disabled="model.renderModel.working"
                            ng-click="model.renderModel.launchDevice( question )">
                      {{ model.renderModel.isDeviceComplete( question ) ? 'Re-' : '' }}Launch {{ question.device }} Device
                    </button>
                  </div>
                  <div ng-switch-when="lookup">
                    <h4 ng-if="null == question.lookup.id" class="text-danger text-center">
                      Warning: Lookup question is not associated with a lookup!
                    </h4>
                    <div ng-if="null != question.lookup.id">
                      <input
                        id="lookup{{ question.lookup.id }}"
                        ng-model="question.answer.formattedValue"
                        uib-typeahead="item.identifier as item.description for item in model.renderModel.getLookupValues( question, $viewValue )"
                        typeahead-editable="false"
                        typeahead-on-select="model.renderModel.setAnswer( question, $item )"
                        typeahead-min-length="3"
                        cn-change="!question.answer.formattedValue && model.renderModel.setAnswer( question, null )"
                        class="form-control"
                        ng-class="{ 'loading-small': question.lookup.isLoading }"
                        type="text"
                        placeholder="(search possible values)"
                        autocomplete="off"></input>
                    </div>
                  </div>
                  <div ng-switch-when="list"
                       class="row row-no-gutters"
                       ng-class="{ 'float-left': model.viewModel.record.tabulate }"
                       ng-repeat="option in model.renderModel.getVisibleOptionList( question )">
                    <div ng-if="!option.multiple_answers" ng-class="{ 'col-xs-6 col-slim': null != option.extra }">
                      <label
                        class="btn btn-default full-width larger"
                        style="text-align: left; white-space: normal;"
                        ng-class="{
                          'rounded-bottom-left rounded-top-left': null != option.extra,
                          'color-red': true === question.incomplete || option.id === question.incomplete
                        }"
                        ng-model="question.answer.optionList[option.id].selected"
                        ng-style="{ 'font-style': option.exclusive ? 'italic' : 'normal', 'font-weight': 'normal' }"
                        ng-click="question.answer.optionList[option.id].selected ?
                          model.renderModel.addOption( question, option ) :
                          model.renderModel.removeOption( question, option )"
                        ng-bind-html="model.renderModel.getOptionPrompt( question, option )"
                        uib-tooltip-html="model.renderModel.getOptionPopup( option )"
                        uib-btn-checkbox>
                      </label>
                    </div>
                    <div ng-if="option.multiple_answers">
                      <label
                        class="btn btn-default full-width rounded-bottom-left rounded-top-left larger"
                        ng-class="{ 'color-red': true === question.incomplete }"
                        style="text-align: left; white-space: normal;"
                        ng-style="{ 'font-style': option.exclusive ? 'italic' : 'normal', 'font-weight': 'normal' }"
                        ng-bind-html="model.renderModel.getOptionPrompt( question, option )"
                        uib-tooltip-html="model.renderModel.getOptionPopup( option )"
                        ng-click="model.renderModel.addAnswerValue( question, option )">
                      </label>
                    </div>
                    <div ng-if="null != option.extra"
                         ng-repeat="value in question.answer.optionList[option.id].valueList">
                      <div class="col-slim" ng-class="option.multiple_answers ? 'col-xs-11' : 'col-xs-6'" ng-switch="option.extra">
                        <input ng-switch-when="date"
                          cn-ignore-mouse-wheel
                          type="text"
                          id="option{{ option.id }}value{{ $index }}"
                          name="answerValue"
                          ng-class="{ 'color-red': true === question.incomplete || option.id === question.incomplete }"
                          ng-model="question.answer.optionList[option.id].formattedValueList[$index]"
                          onkeydown="return false"
                          ng-click="model.renderModel.selectDateForOption( question, option, $index, value )"
                          ng-disabled="!option.multiple_answers && !question.answer.optionList[option.id].selected"
                          class="form-control rounded-bottom-left rounded-bottom-right larger"></input>
                        <input ng-switch-when="number"
                          cn-ignore-mouse-wheel
                          type="number"
                          id="option{{ option.id }}value{{ $index }}"
                          name="answerValue"
                          ng-class="{ 'color-red': true === question.incomplete || option.id === question.incomplete }"
                          ng-model="value"
                          cn-change="model.renderModel.setAnswerValue( question, option, $index, value )"
                          ng-disabled="!option.multiple_answers && !question.answer.optionList[option.id].selected"
                          class="form-control rounded-bottom-left rounded-bottom-right larger"></input>
                        <input ng-switch-when="string"
                          cn-ignore-mouse-wheel
                          type="string"
                          id="option{{ option.id }}value{{ $index }}"
                          name="answerValue"
                          ng-class="{ 'color-red': true === question.incomplete || option.id === question.incomplete }"
                          ng-model="value"
                          cn-change="model.renderModel.setAnswerValue( question, option, $index, value )"
                          ng-disabled="!option.multiple_answers && !question.answer.optionList[option.id].selected"
                          class="form-control rounded-bottom-left rounded-bottom-right larger"></input>
                        <textarea ng-switch-when="text"
                          cn-elastic
                          id="option{{ option.id }}value{{ $index }}"
                          name="answerValue"
                          ng-class="{ 'color-red': true === question.incomplete || option.id === question.incomplete }"
                          ng-model="value"
                          cn-change="model.renderModel.setAnswerValue( question, option, $index, value )"
                          ng-disabled="!option.multiple_answers && !question.answer.optionList[option.id].selected"
                          class="form-control rounded-bottom-left rounded-bottom-right larger"></textarea>
                      </div>
                      <button type="button"
                              class="btn btn-danger col-slim col-xs-1 larger"
                              ng-if="option.multiple_answers"
                              ng-click="model.renderModel.removeAnswerValue( question, option, $index )">
                        <i class="glyphicon glyphicon-remove"></i>
                      </button>
                    </div>
                  </div>
                  <input ng-switch-when="date"
                    ng-attr-id="question{{ question.id }}"
                    cn-ignore-mouse-wheel
                    type="text"
                    placeholder="{{ model.renderModel.getHotKey( question, null ) }}"
                    class="form-control larger"
                    ng-class="{ 'color-red': true === question.incomplete }"
                    ng-model="question.answer.formattedValue"
                    ng-click="model.renderModel.selectDate( question, question.answer.value )"
                    onkeydown="return false">
                  </input>
                  <input ng-switch-when="number"
                    ng-attr-id="question{{ question.id }}"
                    cn-ignore-mouse-wheel
                    type="number"
                    placeholder="{{ model.renderModel.getHotKey( question, null ) }}"
                    class="form-control larger"
                    ng-class="{ 'color-red': true === question.incomplete }"
                    ng-model="question.answer.value"
                    cn-change="model.renderModel.setAnswer( question, question.answer.value )"
                    autocomplete="off">
                  </input>
                  <input ng-switch-when="string"
                    ng-attr-id="question{{ question.id }}"
                    cn-ignore-mouse-wheel
                    type="text"
                    placeholder="{{ model.renderModel.getHotKey( question, null ) }}"
                    class="form-control larger"
                    ng-class="{ 'color-red': true === question.incomplete }"
                    ng-model="question.answer.value"
                    cn-change="model.renderModel.setAnswer( question, question.answer.value )"
                    autocomplete="off">
                  </input>
                  <textarea ng-switch-when="text"
                    ng-attr-id="question{{ question.id }}"
                    placeholder="{{ model.renderModel.getHotKey( question, null ) }}"
                    class="form-control larger"
                    ng-class="{ 'color-red': true === question.incomplete }"
                    ng-model="question.answer.value"
                    cn-change="model.renderModel.setAnswer( question, question.answer.value )"
                    cn-elastic>
                  </textarea>
                  <div ng-class="{
                         'full-width': !model.viewModel.record.tabulate,
                         'btn-group': !model.viewModel.record.tabulate,
                         'float-right': model.viewModel.record.tabulate
                       }"
                       ng-if="'comment' != question.type && ( question.dkna_allowed || question.refuse_allowed )">
                    <label class="btn btn-default larger"
                           ng-if="question.dkna_allowed"
                           ng-class="{
                             'color-red': true === question.incomplete,
                             'col-xs-6': question.refuse_allowed,
                             'col-xs-12': !question.refuse_allowed
                           }"
                           style="text-align: left; font-style: italic; font-weight: normal; white-space: normal;"
                           ng-style="model.viewModel.record.tabulate ? { 'width': 'auto' } : null"
                           ng-model="question.answer.dkna"
                           ng-click="model.renderModel.setAnswer( question, question.answer.dkna ? { dkna: true } : null )"
                           uib-btn-checkbox>
                      {{ model.renderModel.getHotKey( question, 'dkna' ) }}
                      <i class="glyphicon" ng-class="question.answer.dkna ? 'glyphicon-check' : 'glyphicon-unchecked'"></i>
                      {{ text( 'misc.dkna' ) }}
                    </label>
                    <label class="btn btn-default larger"
                           ng-if="question.refuse_allowed"
                           ng-class="{
                             'color-red': true === question.incomplete,
                             'col-xs-6': question.dkna_allowed,
                             'col-xs-12': !question.dkna_allowed
                           }"
                           style="text-align: left; font-style: italic; font-weight: normal; white-space: normal;"
                           ng-style="model.viewModel.record.tabulate ? { 'width': 'auto' } : null"
                           ng-model="question.answer.refuse"
                           ng-click="model.renderModel.setAnswer( question, question.answer.refuse ? { refuse: true } : null )"
                           uib-btn-checkbox>
                      {{ model.renderModel.getHotKey( question, 'refuse' ) }}
                      <i class="glyphicon" ng-class="question.answer.refuse ? 'glyphicon-check' : 'glyphicon-unchecked'"></i>
                      {{ text( model.renderModel.showHidden ? 'misc.refuse' : 'misc.preferNotToAnswer' ) }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid" ng-if="model.renderModel.checkForIncompleteQuestions()">
            <h4 class="text-center alert alert-danger"><strong>{{ text( 'misc.mustCompleteAll' ) }}</strong></h4>
          </div>
        </div>
        <div class="form-footer text-right rounded-bottom bg-info">
          <cn-page-navigator model="model" is-complete="isComplete" text="text" placement="bottom"></cn-page-navigator>
        </div>
      </fieldset></form>
    </div>
  </div>
</div>
<div class="vertical-spacer"></div>
<div ng-if="isComplete &&
            model.renderModel.data.page_id &&
            model.renderModel.previewMode &&
            0 < model.renderModel.activeAttributeList.length"
     class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>Active Attribute List</h4>
  </div>
  <form name="form" novalidate>
    <div class="spacer">
      <div class="container-fluid vertical-spacer">
        <div ng-repeat="activeAttribute in model.renderModel.activeAttributeList" class="row vertical-spacer">
          <label for="{{ activeAttribute.name }}" class="control-label col-sm-3">{{ activeAttribute.name }}</label>
          <div class="col-sm-9">
            <input name="{{ activeAttribute.name }}"
                   ng-if="'showhidden' != activeAttribute.name"
                   ng-model="activeAttribute.value"
                   class="form-control"
                   type="text"
                   autocomplete="off">
            </input>
            <select name="{{ activeAttribute.name }}"
                   ng-if="'showhidden' == activeAttribute.name"
                   ng-model="activeAttribute.value"
                   class="form-control"
                   type="text"
                   autocomplete="off">
              <option value="true">Yes</option>
              <option value="">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
